/*
See the NOTICE file distributed with this work for additional information
regarding copyright ownership.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-    Nextflow config file
-~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-    Default config options for all compute environments
-----------------------------------------------------------------------------------------
-*/

// Set minimum required Nextflow version, stopping execution if current version does not match
nextflowVersion = '!>=24.04'

RUNDIR = System.getenv("NXF_WORK") ?: "$PWD"
NXF_WORK = System.getenv("NXF_WORK") ?: "$PWD/work"
TEMP_DIR = System.getenv("NXF_TEMP") ?: "$PWD/tmp"

plugins {
  id 'nf-schema@2.2.0'
}

validation {
  help {
    enabled = true
    validation.failUnrecognisedParams = true // default: false
  }
}

// valid param definitions
params {

    // Pipeline run options:
    base_ftp_url = null
    run_example_demo = null
    adam_version = null 
    scripts_dir = "scripts"

    // Input/output options:
    input_csv = null

    // Generic options:
    user = null
    email = "${params.user}@ebi.ac.uk"
    send_report = null
    cacheDir = "cache"
}

singularity {
  enabled = true
  autoMounts = true
  pullTimeout = '1 hour'
}

// Email notification
notification {
    enabled = "${params.send_report}"
    to = "${params.email}"
}


process {
    errorStrategy = { task.exitStatus in [104, 137, 140, 143] ? 'retry' : 'terminate' }
    executor = 'slurm'

    withLabel: 'local' {
      executor = 'local'
      cpus = 1
      memory = { 2.GB * Math.pow(4, (task.attempt - 1)) }
      maxForks = 1
    }

    withLabel: 'genome_tools' {
      cpus = 1
      time = { 60.min * task.attempt }
      memory = { 4.GB * Math.pow(4, (task.attempt - 1)) }
      maxRetries = 3
      module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp'
      container = "/nfs/production/flicek/ensembl/shared_data/singularity_images/cache/quay.io-biocontainers-genometools-genometools-1.6.5--py310h3db02ab_0.img"
    }

  withLabel: 'adam' {
    cpus = 4
    memory = { 6.GB * Math.pow(2, (task.attempt - 1)) }
    time = { 0.2.h * task.attempt }
    module = 'singularity-3.7.0-gcc-9.3.0-dp5ffrp'
    container = "/nfs/production/flicek/ensembl/shared_data/singularity_images/cache/adam_${params.adam_version}.sif"
  }
}
